.WeatherDetailCard{
    .widget{
        border-radius: 6px;
        box-shadow: var(--box-shadow);
        margin-bottom: 12px;
        padding: 16px;
        width: 100%;
        height: auto;
        color: var(--blue);
        background: var(--light-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            width: 42px;
            margin: 0 auto 12px;
        }
        span{
            display: inline-block;
            width: 80px;
            font-weight: 600;
            font-size: 14px;
        }
        .icon{
            display: block;
            width: 90px;
            margin: 0 auto;
        }
        h3{
            font-size: 32px;
            font-weight: 800;
            margin-bottom: 8px;
        }
        p{
            font-size: 14px;
            margin-bottom: 8px;
            color: var(--dark);
            font-weight: 600;
        }
    }
    .widget-1{
        background-color: var(--light-orange);
        p,span{
            background-color: var(--light-orange);
            color: var(--dark);
        }
    }
    .widget-2{
        background-color: var(--light-green);
        p, span{
            background-color: var(--light-green);
            color: var(--dark);
        }
    }
    .widget-3{
        background-color: var(--light-blue);
        p, span{
            background-color: var(--light-blue);
            color: var(--dark);
        }
    }
}