@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04rem;
  background-color: var(--black);
  color: white;
}

body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --gray: #1a1a1a;
  --dark-gray: #141414;
  --black: #000000;
}

@media (min-width: 768px){
  .Dashboard .body-container{
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px){
  .Dashboard{
    padding: 10%;
    width: 70vw;
    margin: auto;
  }
  .Dashboard .body-container{
    height: 90vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .Navbar{
    width: 60vw;
    margin: auto;
  }
  .LeftBody{
    flex: 1;
  }
  .RightBody{
    flex: 2;
  }
  .cities{
    flex-direction: column;
    margin: auto;
  }
}