@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04rem;
  background-color: var(--black);
  color: var(--white);
}

body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --gray: #1a1a1a;
  --dark-gray: #141414;
  --black: #000000;
  --white: #cfcfd0;
  --blue: #1B63A2;
  --medium-blue: #204667;
  --light-blue: #D5EBF4;
  --light-gray: #F8F7FC;
  --dark: #292A35;
  --light-orange: #ffe6b9;
  --light-green: #b8e6b8;
  --light-red: #ffdee4;
  --plain-red: #ff3a20;
  --plain-blue: #20a2ff;
  --box-shadow: 7px 7px 15px -10px rgba(37,38,49,0.31);
}

.widget{
  background-color: var(--gray);
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 0.5rem;
}