.TodaysHighlightsWidget {
    display: flex;
    flex-direction: column;
    * {
        background-color: var(--gray);
    }
    .top-sections {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .aqi {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .heading {
                display: flex;
                justify-content: space-between;
            }
            .aqi-details {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .data {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .sunrise-sunset {
            .data{
                display: flex;
                .element {
                    display: flex;
                    flex: 1;
                    justify-content: space-around;
                    align-items: center;
                    p {
                        display: flex;
                        flex-direction: column;
                    }
                }
                
            }
        }

        .section {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            flex: 1;
            padding: 0.5rem;
        }
    }
    .bottom-sections{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .internal-widget{
        border-radius:1rem;
        padding: 0.5rem;
        background-color: var(--dark-gray);
        *{
            background-color: var(--dark-gray);
        }
    }
}
